<html>
<head>
    <title>Todo-List App</title>
    <meta charset="UTF-8">
    <meta lang="en-us">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">To Do App</a>
          </nav>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock content %}
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>


